<!DOCTYPE html>
<% include ../partials/metadata_template %>

<main>
	<div class="jumbotron">
		<h1>Update Your Data!</h1>
		<p> Updating row number 
			<%= row_to_renderer.id %>
		</p>
		<% // https://www.w3schools.com/html/html_forms.asp %>
		<form action='/form_post_update' method='post'>
			Which Cycle ID: <br>
			<input type='text' name='cycle_id' value = "<%= row_to_renderer.cycle_id %>" placeholder='00'><br>
			Enter Date: <br>
			<input type='text' name='date' value = "<%= row_to_renderer.date %>" placeholder='YYYY-MM-DD' autofocus><br>
			Enter Time Taken: <br>
			<input type='text' name='time_taken' value = "<%= row_to_renderer.time_taken %>" placeholder='HH:MM'><br>
			Enter Temp (F): <br>
			<input type='text' name='temp_f' value = "<%= row_to_renderer.temp_f %>" placeholder='00.0'><br>
			<br>
			<input type='submit' value='Submit'>
			<input type="hidden" value="<%= row_to_renderer.id %>" name="id">
		</form>

	</div>
</main>

<% include ../partials/footer_template %>

