<!DOCTYPE html>
<% include ../partials/metadata_template %>

<main>

<% //	<h1>Home</h1> %>
<% //	<p>ET Phone Home!</p> %>

	<div class="jumbotron">
		<h1>Database Query Results</h1>
		<% // <p><a href="/form">Add New Entry</a></p> %>
		<form action="/form" method="get">
			<button type="submit" value="Add New Entry">Add New Entry</button>
		</form>
		<br>
		<table>
			<tr>
				<th>ID</th>
				<th>Date</th>
				<th>Time</th>
				<th>Temp(F)</th>
				<th>Entry Created</th>
				<th>New Cycle?</th>
			</tr>
			<% rows_to_renderer.forEach((row)=> { %>
				<tr>
					<td><%= row.id %></td>
					<td><%= row.date %></td>
					<td><%= row.time_taken %></td>
					<td><%= row.temp_f %></td>
					<td><%= row.entry_created %></td>
					<td><%= row.new_cycle %></td>
					<td>
						<form action='/deletepost' method='post' onsubmit="return window.confirm('Delete row number <%= row.id  %>?')" >
							<input type="submit" value="Delete" >
							<input type="hidden" value= "<%= row.id %>" name="id">
						</form>
					</td>
					<td>
						<form action='/form_update' method='get' onsubmit="return window.confirm('Update row number <%= row.id %>?')">
							<input type='submit' value='Update'>
							<input type='hidden' value="<%= row.id %>" name='id'>
							<input type='hidden' value="<%= row.date %>" name='date'>
							<input type='hidden' value="<%= row.time_taken %>" name='time_taken'>
							<input type='hidden' value="<%= row.temp_f %>" name='temp_f'>
						</form>
					</td>
				</tr>
			<% }); %>
		</table>
	</div>

</main>

<% include ../partials/footer_template %>

