<!DOCTYPE html>
<% include ../partials/metadata_template %>

<main>
	<div class="jumbotron">
		<% //CE: eventually get page title to pull cycle and date data from 'cycles' table %>
		<h1>Cycle <%= rows_to_renderer[0].cycle_id %> Results</h1>
		<h2> <%= begin_date_to_renderer %> through <%= end_date_to_renderer %> </h2>
	<% //hyperlinks to move forwards and backwards through cycles, with conditions to "deactivate" hyperlinks when they reach the beginning or end of the cycle range: %>
	<p>
		<% if (cycle_id_to_renderer.prev) { %>
			<a href="./?cycle=<%= cycle_id_to_renderer.first %>">First Cycle</a> | <a href="./?cycle=<%= cycle_id_to_renderer.prev %>">Previous Cycle</a>
		<% } else { %>
			First Cycle | Previous Cycle
		<% }; %>
		| | 
		<% if (cycle_id_to_renderer.next) { %>
			<a href="./?cycle=<%= cycle_id_to_renderer.next %>">Next Cycle</a> | <a href="./?cycle=<%= cycle_id_to_renderer.last %>">Last Cycle</a>
		<% } else { %>
			Next Cycle | Last Cycle
		<% }; %>
	</p>
		<form action="/form" method="get">
			<button type="submit" value="Add New Entry">Add New Entry</button>
			<% // pass current cycle_id to form page via value: %>
			<input type='hidden' value="<%= cycle_id_to_renderer.curr %>" name='current_cycle'>
		</form>
		<% // attempting to include the chart: %>
		<% //include ../partials/chartist_partial %> 
		<% //include ../partials/chartist_time %>
		<% include ../partials/chartist_partial_temp %>
		<table>
			<tr>
				<th>ID</th>
				<th>Date</th>
				<th>Time</th>
				<th>Temp(F)</th>
				<th>Cycle Number</th>
				<th>Entry Created</th>
			</tr>
			<% rows_to_renderer.forEach((row)=> { %>
				<tr>
					<td><%= row.id %></td>
					<td><%= row.date %></td>
					<td><%= row.time_taken %></td>
					<td><%= row.temp_f %></td>
					<td><%= row.cycle_id %></td>
					<td><%= row.entry_created %></td>
					<td>
						<form action='/deletepost' method='post' onsubmit="return window.confirm('Delete row number <%= row.id  %>?')" >
							<input type="submit" value="Delete" >
							<input type="hidden" value="<%= row.id %>" name="id_home">
							<input type="hidden" value="<%= row.cycle_id %>" name="cycle_id">
						</form>
					</td>
					<td>
						<form action='/form_update' method='get' onsubmit="return window.confirm('Update row number <%= row.id %>?')">
							<input type='submit' value='Update'>
							<input type='hidden' value="<%= row.id %>" name='id'>
							<!-- <input type='hidden' value="<%= row.date %>" name='date'>
							<input type='hidden' value="<%= row.time_taken %>" name='time_taken'>
							<input type='hidden' value="<%= row.temp_f %>" name='temp_f'> //-->
						</form>
					</td>
				</tr>
			<% }); %>
		</table>
	</div>

</main>

<% include ../partials/footer_template %>

