<!DOCTYPE html>
<% include ../partials/metadata_template %>

<main>
<script> 
function delete_verify() { 
	//alert("Are you sure?"); 
	if (window.confirm("Are you sure?") ) {
		//pass data to '/deletepost'
		alert("You clicked OK");
		return true;
	} else {
		//stay on '/' without making any changes
		alert("Cancelled!");
		return false;
	};
};
</script>

<% //	<h1>Home</h1> %>
<% //	<p>ET Phone Home!</p> %>

	<div class="jumbotron">
		<h1>Database Query Results</h1>
		<% // <p><a href="/form">Add New Entry</a></p> %>
		<form action="/form" method="get">
			<button type="submit" value="Add New Entry">Add New Entry</button>
		</form>
		<br>
		<table>
			<tr>
				<th>ID</th>
				<th>Date</th>
				<th>Time</th>
				<th>Temp(F)</th>
				<th>Entry Created</th>
			</tr>
			<% rows.forEach((row)=> { %>
				<tr>
					<td><%= row.id %></td>
					<td><%= row.date %></td>
					<td><%= row.time_taken %></td>
					<td><%= row.temp_f %></td>
					<td><%= row.entry_created %></td>
					<td>
						<form action='/deletepost' method='post' onsubmit="return delete_verify()" >
							<input type="submit" value="Delete" >
							<input type="hidden" value= "<%= row.id %>" name="id">
						</form>
					</td>
				</tr>
			<% }); %>
		</table>
	</div>

</main>

<% include ../partials/footer_template %>

