<!DOCTYPE html>
<% include ../partials/metadata_template %>

<main>

<% //	<h1>Home</h1> %>
<% //	<p>ET Phone Home!</p> %>

	<div class="jumbotron">
		<h1>Database Query Results</h1>
		<table>
			<tr>
				<th>ID</th>
				<th>Date</th>
				<th>Time</th>
				<th>Temp(F)</th>
				<th>Entry Created</th>
			</tr>
			<% rows.forEach((row)=> { %>
				<tr>
					<td><%= row.id %></td>
					<td><%= row.date %></td>
					<td><%= row.time_taken %></td>
					<td><%= row.temp_f %></td>
					<td><%= row.entry_created %></td>
				</tr>
			<% }); %>
		</table>
	</div>

</main>

<% include ../partials/footer_template %>

