<!DOCTYPE html>
<% include ../partials/metadata_template %>

<main>
	<!-- attempting to include the chart: -->
	<%// include ../partials/chartist_partial %>
	<div class="jumbotron">
		<h1>DB Query Results</h1>
	<% //hyperlinks to move forwards and backwards through cycles, with conditions to "deactivate" hyperlinks when they reach the beginning or end of the cycle range: %>
	<p>
		<% if (cycle_id_to_renderer.prev) { %>
			<a href="./?cycle=<%= cycle_id_to_renderer.first %>">First Cycle</a> | <a href="./?cycle=<%= cycle_id_to_renderer.prev %>">Previous Cycle</a>
		<% } else { %>
			First Cycle | Previous Cycle
		<% }; %>
		| | 
		<% if (cycle_id_to_renderer.next) { %>
			<a href="./?cycle=<%= cycle_id_to_renderer.next %>">Next Cycle</a> | <a href="./?cycle=<%= cycle_id_to_renderer.last %>">Last Cycle</a>
		<% } else { %>
			Next Cycle | Last Cycle
		<% }; %>
	</p>
	<script>
		//var foxy_var = {data_var: [97.7, 98.0, 96.5, 97.0]},
			//for (var i = 0; i < 4; i++){
				//console.log(foxy_var.data_var[i]
			//};
	</script>

		<form action="/form" method="get">
			<button type="submit" value="Add New Entry">Add New Entry</button>
			<% // pass current cycle_id to form page via value: %>
			<input type='hidden' value="<%= cycle_id_to_renderer.curr %>" name='current_cycle_id'>
		</form>
		<br>
		<table>
			<tr>
				<th>ID</th>
				<th>Date</th>
				<th>Time</th>
				<th>Temp(F)</th>
				<th>Entry Created</th>
				<th>Cycle Number</th>
			</tr>
			<% rows_to_renderer.forEach((row)=> { %>
				<tr>
					<td><%= row.id %></td>
					<td><%= row.date %></td>
					<td><%= row.time_taken %></td>
					<td><%= row.temp_f %></td>
					<td><%= row.entry_created %></td>
					<td><%= row.cycle %></td>
					<td>
						<form action='/deletepost' method='post' onsubmit="return window.confirm('Delete row number <%= row.id  %>?')" >
							<input type="submit" value="Delete" >
							<input type="hidden" value= "<%= row.id %>" name="id_home">
						</form>
					</td>
					<td>
						<form action='/form_update' method='get' onsubmit="return window.confirm('Update row number <%= row.id %>?')">
							<input type='submit' value='Update'>
							<input type='hidden' value="<%= row.id %>" name='id'>
							<!-- <input type='hidden' value="<%= row.date %>" name='date'>
							<input type='hidden' value="<%= row.time_taken %>" name='time_taken'>
							<input type='hidden' value="<%= row.temp_f %>" name='temp_f'> //-->
						</form>
					</td>
				</tr>
			<% }); %>
		</table>
	</div>

</main>

<% include ../partials/footer_template %>

